<div id="ServiciosId" class="row mt-5 mb-5 p-5">
  <div class="row flex-wrap justify-content-center">
    <div class="cardRubros col-lg-2 d-flex flex-column justify-content-center align-items-center m-2"
      th:each="listaRubros : ${listaRubros}">
      <div>
        <img th:if="${listaRubros.imagen != null}" class="fondoCard"
        th:src="@{/imagen/imagen/__${listaRubros.id}__}" width="80" height="80" aria-label="Placeholder" />
        <div class="card-details">
          <h3 class="text-body pt-2" th:text="${listaRubros.rubro}"></h3>
        </div>
        <a class="card-button" th:href="@{/filtroProveedores/__${listaRubros.id}__}">Mostrar</a>
      </div>
    </div>
  </div>
</div>