<div class="accordion " id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                aria-controls="panelsStayOpen-collapseOne">
                LISTAR USUARIOS
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
            <div class="accordion-body">

                <table class="table table-secondary table-hover align-middle">
                    <thead class="text-center">
                        <tr>
                            <th scope="col" style="visibility:collapse; display:none;">Id Usuario</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Domicilio</th>
                            <th scope="col">Telefono</th>
                            <th scope="col">Email</th>
                            <th scope="col">Activo</th>
                            <th scope="col">Rol</th>
                            <th scope="col">Cambiar Rol</th>
                            <th scope="col">Modificar</th>
                        </tr>
                    </thead>
                    <tbody th:each="usuario : ${usuarios}" class="text-center">
                        <tr>
                            <td th:text="${usuario.id}" style="visibility:collapse; display:none;"></td>
                            <td th:text="${usuario.nombre}"></td>
                            <td th:text="${usuario.domicilio}"></td>
                            <td th:text="${usuario.telefono}"></td>
                            <td th:text="${usuario.email}"></td>
                            <td th:text="${usuario.alta}"></td>
                            <td th:text="${usuario.rol}"></td>
                            <td>
                                <a th:href="@{/admin/modificarRol/__${usuario.id}__}" class="btn btn-outline-warning"
                                    type="button">Cambiar Rol</a>
                            </td>

                            <td>
                                <form th:action="@{/admin/eliminarUsuario/__${usuario.id}__}" method="post">
                                    <button class="btn btn-outline-danger" type="submit">Eliminar
                                    </button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>