<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
        <h2 class="listaProveedores accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true"
                aria-controls="panelsStayOpen-collapseTwo">
                LISTA PROVEEDORES
            </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">

                <table class="table-listas table table-secondary table-hover table-responsive align-middle">
                    <thead class="text-center">
                        <tr>
                            <th scope="col" style="visibility:collapse; display:none;">Id Proveedor</th>
                            <th scope="col">Imagen</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Email</th>
                            <th scope="col">Domicilio</th>
                            <th scope="col">Telefono</th>
                            <th scope="col">Honorario</th>
                            <th scope="col">Calificación</th>
                            <th scope="col">Rubro</th>
                            <th scope="col">Rol</th>
                            <th scope="col">Alta</th>
                            <th scope="col">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody th:each="proveedor : ${proveedores}" class="text-center">
                        <tr>
                            <td th:text="${proveedor.id}" style="visibility:collapse; display:none;"></td>
                            <td <a>
                                <img th:if="${proveedor.imagen != null}" class="logo"
                                    th:src="@{/imagen/perfil/__${proveedor.id}__}"
                                    style="max-width: 50px; max-height: 50px;" />
                                </a>
                            </td>
                            <td th:text="${proveedor.nombre}"></td>
                            <td th:text="${proveedor.email}"></td>
                            <td th:text="${proveedor.domicilio}"></td>
                            <td th:text="${proveedor.telefono}"></td>
                            <td th:text="${proveedor.honorario}"></td>
                            <td th:text="${proveedor.Calificacion}"></td>
                            <td th:text="${proveedor.rubro.rubro}"></td>
                            <td th:text="${proveedor.rol}"></td>
                            <td th:text="${proveedor.alta}"></td>
                            <td>
                                <form th:action="@{/admin/eliminarProveedor/__${proveedor.id}__}" method="post">
                                    <button class="btn btn-outline-danger" type="submit">Eliminar
                                    </button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>