<div id="NosotrosId" class="market-sections container-fluid mt-5 mb-2">
    <hr class="featurette-divider">

    <!-- primera -->
    <div class="row featurette market-content p-3">

        <div class="col-md-7">
            <div class="d-flex align-items-center market-title p-2">
                <h2 class="featurette-heading fw-normal">¿Por que utilizar ServiProf?</h2>
            </div>
            <p class="lead">Si vives en Chacras de Coria, Mendoza, y buscas servicios de mantenimiento para tu
                hogar, Servi-Proff es la respuesta. Imagina un lugar donde tus preocupaciones sobre reparaciones y
                mejoras se desvanecen, y eso es exactamente lo que ofrecemos. En Servi-Proff, nos dedicamos a hacer
                que tu vida en este hermoso barrio privado sea aún más placentera.</p>
        </div>
        <div class="col-md-5 d-flex justify-content-end">
            <img src="/img/electricista2.jpg"
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid border border-3 border-dark-subtle "
                width="400" height="400" role="img" aria-label="" focusable="false">
        </div>
    </div>

    <hr class="featurette-divider">
    <!-- segunda -->
    <div class="row featurette market-content p-3">

        <div class="col-md-7 order-md-2">
            <div class="d-flex align-items-center market-title p-2">
                <h2 class="featurette-heading fw-normal">¿Qué nos hace especiales?</h2>
            </div>
            <div class="align-items-center">
                <p class="lead"> Todo comienza con la comodidad. Nuestra plataforma intuitiva te permite solicitar
                    servicios con facilidad, ajustándonos a tu agenda para que no tengas que preocuparte por
                    interrupciones innecesarias. Pero no solo somos sobre la practicidad, también nos enorgullece la
                    calidad. Contamos con un equipo de profesionales altamente capacitados y confiables, listos para
                    abordar desde pequeñas reparaciones hasta proyectos de renovación completos.</p>
            </div>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="/img/barrio2.jpg"
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid  border border-3 border-dark-subtle"
                width="400" height="400" role="img" aria-label="" focusable="false">
        </div>
    </div>

    <hr class="featurette-divider">
    <!-- tercera -->
    <div class="row featurette market-content p-3">

        <div class="col-md-7">
            <div class=" d-flex align-items-center market-title p-2">
                <h2 class="featurette-heading fw-normal">¿Estás preparado para simplificar tu vida?</h2>
            </div>
            <p class="lead">Si estás listo para dejar de lado las complicaciones y abrazar la tranquilidad en
                Chacras de Coria, ¡contáctanos ahora mismo! Deja que Servi-Proff sea tu socio en el mantenimiento del
                hogar,
                y celebremos juntos un año más de hacer la vida más fácil y hermosa para ti. ¡Te esperamos con los
                brazos abiertos y las herramientas listas! 🛠️💙</p>
        </div>
        <div class="col-md-5 d-flex justify-content-end">
            <img src="/img/barrio1.jpg"
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid  border border-3 border-dark-subtle "
                width="400" height="400" role="img" aria-label="" focusable="false">
        </div>
    </div>
</div>
<!-- fin -->