<nav class="navbar navbar-expand-md navbar-dark  bg-dark mb-3" >
    <div class="container-fluid">
        <a class="navbar-brand" aria-current="page" href="/">
            <img class="logo"  src="/img/android-chrome-192x192.png" alt="Servi-Proff-Logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <!-- PARA IR Y VOLVER A LOS NO LOGUEADOS -->
                    <a th:if="${session.usuarioSession==null}"  class="nav-link active" href="/">INICIO</a>
                </li>
                <li class="nav-item">
                    <!-- PARA IR Y VOLVER A LOS SI LOGUEADOS -->
                    <a  sec:authorize="hasAnyRole('ROLE_USER','ROLE_PROVEEDOR')" class="nav-link active" href="/inicio">INICIO</a>
                </li>
                <li class="nav-item">
                    <a  th:href="@{/sobreNosotros}" class="nav-link active">NOSOTROS</a>
                </li>
                <li class="nav-item">
                    <a sec:authorize="hasRole('ROLE_ADMIN')"  href="/admin/dashboard" class="nav-link active">PANEL ADMIN</a>
                </li>
                <li class="nav-item">
                    <a sec:authorize="hasRole('ROLE_USER')"  href="/inicio/#ServiciosId" class="nav-link active">SERVICIOS</a>
                </li>
                <li class="nav-item">
                    <a    class="nav-link active" th:href="@{/contacto}">CONTACTO</a>
                </li>
                <li class="nav-item dropdown">
                </li>

                <!-- MENU REGISTRO/LOGIN/ GUEST -->
                <li th:if="${session.usuarioSession == null}" class="nav-item dropdown">
                    <a class="nav-link active" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">USUARIO</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a th:if="${session.usuarioSession == null}" type="button" role="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modalSignin">
                                INGRESO</a></li>                        
                        <li><hr class="dropdown-divider" th:if="${session.usuarioSession == null}"></li>
                        <li><a th:if="${session.usuarioSession == null}" type="button" role="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modalRegistro">
                                REGISTRO</a></li>                   
                    </ul>
                </li>            

                <!-- MENU REGISTRO/LOGIN/EDITAR PROVEEDOR -->
                <li th:if="${session.usuarioSession == null}" class="nav-item dropdown">
                    <a class="nav-link active" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">PROVEEDOR</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a th:if="${session.usuarioSession == null}" type="button" role="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modalSignin">
                                INGRESO</a></li>                        
                        <li><hr class="dropdown-divider" th:if="${session.usuarioSession == null}"></li>
                        <li><a th:if="${session.usuarioSession == null}" type="button" role="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modalReProveedor">
                                REGISTRO</a></li>                     
                    </ul>                 
                </li> 
                <!-- MENU SOLO ACTIVO USUARIOS EN SECION -->
                <!-- USUARIO -->
                <li class="nav-item dropdown" sec:authorize="hasAnyRole('ROLE_USER','ROLE_PROVEEDOR','ROLE_ADMIN')">
                    <a class="nav-link dropdown-toggle" sec:authorize="hasAnyRole('ROLE_USER','ROLE_PROVEEDOR','ROLE_ADMIN')" 
                       th:text=" 'BIENVENIDO '+${session.usuarioSession.nombre}+' '+'-'+${session.usuarioSession.rol}+'-'"  
                       id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
                    <ul sec:authorize="hasRole('ROLE_USER')" class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item"  th:href="@{/busqueda?palabra=}">CONTRATAR</a></li>
                        <li><a class="dropdown-item"  href="/inicio#cardProveedor">MIS SERVICIOS</a></li>                      
                        <li><a class="dropdown-item" href="/inicio#accordionPanelsStayOpenExample">CALIFICAR</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/usuario/perfil">MI PERFIL</a></li>                        
                        <li><a class="dropdown-item" href="/logout">CERRAR SESION</a></li>
                    </ul>
                    <!-- PROVEEDOR -->    
                    <ul sec:authorize="hasRole('ROLE_PROVEEDOR')" class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/trabajo/crear_Trabajo">FINALIZAR</a></li>                      
                        <li><a class="dropdown-item" href="#">MIS TRABAJOS</a></li>
                        <li><a class="dropdown-item" href="#">MIS CALIFICACIONES</a></li>
                        <li><hr class="dropdown-divider"></li>                                               
                        <li><a class="dropdown-item" href="/proveedor/perfil">MI PERFIL</a></li>                        
                        <li><a class="dropdown-item" href="/logout">CERRAR SESIÓN</a></li>
                    </ul>
                    <!-- ADMINISTRADOR -->
                    <ul sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item"  href="#listaUsuarios">MODIFICAR USUARIOS</a></li>                        
                        <li><a class="dropdown-item"  href="#listaProveedores">MODIFICAR PROVEEDORES</a></li>                        
                        <li><a class="dropdown-item" href="#listaRubros">AGREGAR RUBRO</a></li>                        
                        <li><a class="dropdown-item" href="#listaTrabajos">CONSULTAR TRABAJOS</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/logout">CERRAR SESIÓN</a></li>
                    </ul>
                </li>  
                </ul>
                
          <p th:if="${session.usuarioSession==null}" class="my-auto" >BIENVENIDO&#x1F525&#x1F525</p>
            
            

                <form sec:authorize="hasAnyRole('ROLE_USER','ROLE_PROVEEDOR','ROLE_ADMIN')" class="d-flex justify-content-end" role="search" th:action="@{/busqueda}"  method="GET">

                    <input  id="buscador" class="form-control me-2"  placeholder="Buscar" aria-label="Search" name="palabra" type="text" >
                    <button id="buscador" class="btn btn-outline-success" type="submit">BUSCAR</button>
                </form> 

        </div>
    </div>
</nav>



 <p th:if="${session.usuarioSession==null}" class="my-auto" >BIENVENIDO&#x1F525&#x1F525</p>
            
            

                <form th:if="${session.usuarioSession != null}" class="d-flex justify-content-end" role="search" th:action="@{/busqueda}"  method="GET">

                    <input  id="buscador" class="form-control me-2"  placeholder="Buscar" aria-label="Search" name="palabra" type="text" >
                    <button id="buscador" class="btn btn-outline-success" type="submit">BUSCAR</button>
                </form> 
