<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>

    <head th:replace="/fragments/head :: head"></head>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" />
</head>
<body>
    <!-- NAVBAR -->
    <header data-bs-theme="dark">
        <nav th:replace="/fragments/navbar :: nav"></nav>
    </header>

    <main class="container-fluid justify-content-center">

        <div th:replace="/fragments/exitoError :: div"></div>
        <!-- CARRUSEL -->
        <div th:replace="/fragments/carousel :: section"></div>

       <section class="sectionCardsInicio container-fluid justify-content-center align-items-center text-center">
        <h1 class="titleInicio mt-5">Conoce nuestras categorías</h1>
        <!-- RUBROS SOLO USER-->
        <div th:replace="/fragments/cardRubro :: div"></div>
    </section>
        <!-- MODAL EXITO U ERROR -->


        <!-- METRICAS -->
        <div th:replace="/fragments/metricas :: div"></div>

        <!-- MARKET QUE HACEMOS? COMO? -->
        <div th:replace="/fragments/market :: div"></div>

        <!-- MODALES REGISTRO -->
        <!-- user -->
        <div th:replace="/fragments/modalRegistro :: div"></div>

        <!-- login -->
        <div th:replace="/fragments/modalSignin :: div"></div>

        <!-- proveedor -->
        <div th:replace="/fragments/modalReProveedor :: div"></div>
    </main>

    <div class="container">
        <footer th:replace="/fragments/footer :: footer"></footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

</body>
</html>